@font-face{
    src: url("./font/Nunito-SemiBold.ttf");
    font-family: nunito;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body{
    margin:0;
    padding:0;
}
.links{
    white-space: pre-line;
}
.back{
    font-family: nunito;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    position:relative;
    overflow: hidden;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;

}
.List{
    list-style-type: none;
}
.backimg{
    display: none;
    z-index: -1;
}
.vidbg{
    position:fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
#Projects{
    font-family: nunito;
    font-size: 2rem;
    color: white;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}
#points{
    font-family: nunito;
    font-size: 1.7rem;
}    
.icons{
    height: 64px;
    width: 64px
}
.iconsIN{
    height: 67px;
    width: 67px;
}
@media (min-aspect-ratio:16/9){
    .vidbg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .vidbg{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 767px){
    .vidbg{
        display:none;
    }
    #Projects{
        font-size:1rem;
    }
    .back{
        font-size: 1rem;
        
    }
    .backimg{
        position: fixed;
        display: flex;
        width: auto;
        height: auto;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icons{
        height: 44px;
        width: 44px
    }
    .iconsIN{
        height: 47px;
        width: 47px;
    }
    .container{
        grid-template-columns: 1fr;
    }
}
@media (min-aspect-ratio:16/9){
    .backimg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .backimg{
        width: auto;
        height: 100%;
    }
}
@keyframes bounce{
    0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,1) translate(0px, 10px); 
}

75%{
transform: scale(1,1) translate(0px, -10px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}
.bounce{
    display: flex;
    justify-content: center;
    bottom: 20px;
    animation: bounce 0.75s infinite;
}

